/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Cinzel', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.heading {
  max-width: 100%;
  display: flex;
}
.heading .logo {
  width: 28%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.heading .logo .logoPic {
  width: 30%;
}
.heading .topNav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3.5%;
}
.heading .topNav a {
  display: flex;
  width: 25%;
  font-size: 2.8rem;
  color: #000;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.heading .topNav button {
  justify-content: center;
  align-items: center;
  display: block;
  background-color: #ff5a5f;
  margin: 0 1px 20px;
  cursor: pointer;
  width: 15%;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  color: #fff;
}
footer {
  width: 100%;
  display: flex;
  background: #484848;
  padding: 2% 0 0;
  justify-content: center;
}
footer p {
  font-size: 2rem;
  color: #fff;
}
.bgImg {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  background-image: url(/img/bgImage.jpg);
  background-repeat: no-repeat;
}
.bgImg h2 {
  font-size: 3.6rem;
  color: #fff;
}
.bgImg p {
  font-size: 2.4rem;
  color: #fff;
}
.bgImg button {
  z-index: 100;
  display: block;
  background-color: #ff5a5f;
  margin: 0 1px 20px;
  cursor: pointer;
  width: 40%;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  color: #fff;
}
.searchBar {
  width: 80vw;
  padding: 10% 10% 10%;
  margin: 25px auto;
  display: flex;
  border-bottom: 2px solid #000;
}
.searchBar div {
  display: flex;
  width: 90%;
  margin: 1% 1% 1%;
  flex-direction: column;
  font-size: 1.8rem;
}
.searchBar .where {
  width: 30%;
}
.searchBar .when {
  width: 20%;
}
.searchBar .how {
  width: 15%;
}
.searchBar input {
  font-size: 2rem;
  width: 100%;
}
.searchBar button {
  display: block;
  background-color: #ff5a5f;
  margin: 0 1px 20px;
  cursor: pointer;
  width: 15%;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  color: #fff;
  margin: 1.5% 2% 0;
  flex-direction: row;
}
.review {
  width: 80vw;
  display: flex;
  margin: 0 auto;
}
.review .reviewPhoto {
  width: 50%;
}
.review h2 {
  font-size: 3.2rem;
  margin: 2% 0 2%;
}
.review h3 {
  font-size: 2.4rem;
  margin-bottom: 2%;
}
.review p {
  font-size: 1.8rem;
  width: 54%;
}
.testimonial {
  width: 80vw;
  display: flex;
  margin: 0 auto;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  flex-wrap: wrap;
}
.testimonial .one {
  width: 90%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1% 5% 1%;
  padding: 5% 0 5%;
}
.testimonial .one img {
  width: 20%;
  border-radius: 50%;
}
.testimonial .one h2 {
  width: 60%;
  margin-top: -8%;
  margin-left: 22%;
}
.testimonial .one p {
  width: 30%;
  margin-left: 22%;
}
.testimonial .two {
  width: 90%;
  display: flex;
  align-items: flex-end;
  margin: 1% 0% 1%;
  padding: 5% 0 5%;
  flex-direction: column;
}
.testimonial .two img {
  width: 20%;
  border-radius: 50%;
}
.testimonial .two h2 {
  width: 30%;
  margin-top: -8%;
  margin-right: 18.25%;
}
.testimonial .two p {
  width: 30%;
  margin-right: 18%;
}
.testimonial .three {
  width: 90%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1% 5% 1%;
  padding: 5% 0 5%;
}
.testimonial .three img {
  width: 20%;
  border-radius: 50%;
}
.testimonial .three h2 {
  width: 60%;
  margin-top: -8%;
  margin-left: 22%;
}
.testimonial .three p {
  width: 30%;
  margin-left: 22%;
}
.testimonial img {
  width: 40%;
}
.contact {
  width: 80vw;
  font-size: 2rem;
  margin: 2% auto 5%;
  line-height: 2;
}
.contact a {
  text-decoration: none;
  color: #00a699;
}
