.bgImg {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  background-image: url(/img/bgImage.jpg);
  background-repeat: no-repeat;
  h2 {
    font-size: 3.6rem;
    color: #fff;
  }
  p {
    font-size: 2.4rem;
    color: #fff;
  }
  button {
    z-index: 100;
    .customBtn(#ff5a5f, 40%, #fff);
    &:hover {
      .customBtn(#00a699, 40%, #000);
    }
  }
}

.searchBar {
  width: 80vw;
  padding: 10% 10% 10%;
  margin: 25px auto;
  display: flex;
  // flex-direction: column;
  border-bottom: 2px solid #000;
  // background-color: #767676;
  div {
    display: flex;
    width: 90%;
    margin: 1% 1% 1%;
    flex-direction: column;
    font-size: 1.8rem;
  }
  .where {
    width: 30%;
  }
  .when {
    width: 20%;
  }
  .how {
    width: 15%;
  }
  input {
    font-size: 2rem;
    width: 100%;
  }
  button {
    .customBtn(#ff5a5f, 15%, #fff);
    margin: 1.5% 2% 0;
    flex-direction: row;
    &:hover {
      .customBtn(#00a699, 15%, #000);
      margin: 1.5% 2% 0;
    }
  }
}

.review {
  width: 80vw;
  display: flex;
  margin: 0 auto;
  .reviewPhoto {
    width: 50%;
  }
  h2 {
    font-size: 3.2rem;
    margin: 2% 0 2%;
  }
  h3 {
    font-size: 2.4rem;
    margin-bottom: 2%;
  }
  p {
    font-size: 1.8rem;
    width: 54%;
  }
}

.testimonial {
  width: 80vw;
  display: flex;
  margin: 0 auto;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  flex-wrap: wrap;
  .one {
    width: 90%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 1% 5% 1%;
    padding: 5% 0 5%;
    img {
      width: 20%;
      border-radius: 50%;
    }
    h2 {
      width: 60%;
      margin-top: -8%;
      margin-left: 22%;
    }
    p {
      width: 30%;
      margin-left: 22%;
    }
  }
  .two {
    width: 90%;
    display: flex;
    align-items: flex-end;
    margin: 1% 0% 1%;
    padding: 5% 0 5%;
    flex-direction: column;
    img {
      width: 20%;
      border-radius: 50%;
    }
    h2 {
      width: 30%;
      margin-top: -8%;
      margin-right: 18.25%;
    }
    p {
      width: 30%;
      margin-right: 18%;
    }
  }
  .three {
    width: 90%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 1% 5% 1%;
    padding: 5% 0 5%;
    img {
      width: 20%;
      border-radius: 50%;
    }
    h2 {
      width: 60%;
      margin-top: -8%;
      margin-left: 22%;
    }
    p {
      width: 30%;
      margin-left: 22%;
    }
  }

  img {
    width: 40%;
  }
}

#contact {
  width: 80vw;
  font-size: 2rem;
  margin: 2% auto 5%;
  line-height: 2;
  a {
    text-decoration: none;
    color: #00a699;
    &:hover {
      text-decoration: none;
      color: #ff5a5f;
    }
  }
}

.team {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20% 5%;
  border: 2px solid #000;
  background-color: #fc642d;
  div {
    width: 40vw;
    margin: 5% 0 8%;
    border-bottom: 2px solid black;
    background-color: #767676;
    line-height: 1.2;
    h1 {
      margin-left: 1%;
    }
    h2 {
      margin-left: 1%;
    }
  }
  img {
    width: 35%;
    margin: 2% 1% 1%;
  }
  i {
    font-size: 2.8rem;
    cursor: pointer;
    margin-bottom: 2%;
    margin-left: 1%;
    &:hover {
      color: #ff5a5f;
    }
  }
}
