// Mixins in here
.customBtn(@bgColor, @width, @color) {
  display: block;
  background-color: @bgColor;
  margin: 0 1px 20px;
  cursor: pointer;
  width: @width;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  color: @color;
}
