.heading {
  max-width: 100%;
  display: flex;

  .logo {
    width: 28%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .logoPic {
      width: 30%;
    }
  }
  .topNav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3.5%;
    a {
      display: flex;
      width: 25%;
      font-size: 2.8rem;
      color: #000;
      text-decoration: none;
      align-items: center;
      justify-content: center;
    }
    .active {
      color: #ff5a5f;
    }
    button {
      .customBtn(#ff5a5f, 15%, #fff);
      &:hover {
        .customBtn(#00a699, 15%, #000);
      }
    }
    .register {
      margin-right: 5%;
      &:hover {
        margin-right: 5%;
      }
    }
  }
}
