.heading {
  max-width: 100%;
  display: flex;
  .topNav {
    width: 80%;
    display: flex;
    text-decoration: none;
    a {
      width: 8%;
      font-size: 1.8rem;
      columns: #000;
      text-decoration: none;
    }
    button {
      .customBtn(#ff5a5f, 5%, #fff);
    }
  }
}
